
<!-- <div class="main-nav sidebar-collapse bg-inverse">
<ul class="nav nav-pills bg-inverse flex-column">
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/counter']">Counter</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/fetch-data']">Fetch Data</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/fish-list']">Fish List</a>
  </li>
</ul>
</div> -->

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/counter']">Counter</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/fetch-data']">Fetch Data</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/fish-list']">Fish List</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Nav item</a>
    </li>
  </ul>
</nav>