.nav-bar{
    padding-bottom: 75px;
}

.btn-custom{
    background: #222;
    color: #9d9d9d;
}

.btn-custom:hover{
    color: white;
}

.btn-custom:focus{
    outline:none;
}

@media (max-width: 768px) {
    .nav-hide{
        display:none;
    }
}