.app-body{
    margin-top: 3.5em;
}

.app-margin-top{
    margin-top: 2em;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

