<div class="side-bar">
<ul class="nav nav-pills nav-stacked">
  <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/home']">
          <span class='glyphicon glyphicon-home'></span> Home
      </a>
  </li>
  <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/counter']">
          <span class='glyphicon glyphicon-education'></span> Counter
      </a>
  </li>
  <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/fetch-data']">
          <span class='glyphicon glyphicon-th-list'></span> Fetch data
      </a>
  </li>
  <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/fish-list']">
          <span class='glyphicon glyphicon-th-list'></span> Fish
      </a>
  </li>
</ul>
</div>